* {
    font-family: 'Noto Sans', sans-serif;
}

.error label {
    margin: auto;
    width: 10%;
    background-color: rgb(255, 0, 0);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.displayInfos {
    background-color: rgb(47, 126, 190);
    color: white;
    margin-bottom: 20px;
}

div.displayInfos label.infos {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.displayInfos label.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

div.infoTitle input[type='text'] {
    display: block;
    margin: 0 auto;
}

div.infoTitle input[type='button'], div.friend input[type='button'] {
    display: block;
    margin: auto;
}

div.friend, div.sent div.friend, div.received div.friend {
    text-align: center;
    font-size: 15px;
}

div.sent, div.received {
    font-size: 20px;
    text-align: center;
    border-top: 1px white solid;
}

input[type='button'][name='createNewGame'], input[type='button'][name='joinGame'] {
    width: 15%;
    height: 50px;
    margin: auto;
}

div#gameButtonHolder {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div#gameButtonHolder input[type='button'] {
    display: block;
    height: 100px;
    width: 300px;
    margin-right: 50px;
    margin-left: 50px;
}

div#newGameDialog, div#joinGameDialog {
    width: 55%;
}

div.template h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(47, 126, 190);
}

div.template img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

div form {
    text-align: center;
    margin: auto;
    width: 90%;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 30px;
}

label.signup, label.signin {
    display: inline-block;
    width: 75%;
    text-align: center;
}

.redirect {
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonHolder {
    text-align: center;
}

div.signin, div.signup {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.userheader {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

div.userheader img {
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

div.userheader h1 {
    color: rgb(47, 126, 190);
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 55px;
    font-size: 35px;
}

#title {
    cursor: pointer;
}

div.optionsHolder input[type="button"] {
    text-align: right;
    display: flexbox;
    margin-top: 20px;
    margin-right: 15px;
}

div.content, div#gameButtonHolder {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-around;
    color: rgb(47, 126, 190);
}

.empty {
    color: black;
    font-size: 15px;
}

div.friendlist label.title, div.receivedRequests label.title, div.sentRequests label.title {
    font-size: 30px;
}

.friendDialog, .friendlist, .receivedRequests, .sentRequests, .joinDialog, .newDialog, .selectDialog {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.friends, .games {
    margin-top: 2px;
    margin-bottom: 2px;
}

.friends img, .games img {
    margin-left: 5px;
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid rgb(47, 126, 190);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

@media screen and (max-width: 900px) {
    #title {
        display: none;
    }

    #gameButtonHolder {
        flex-direction: column;
    }

    #gameButtonHolder input[type="button"] {
        margin-top: 20px;
        margin-bottom: 20px;

        margin-right: 0px;
        margin-left: 0px;
    }

    div.content {
        flex-direction: column;
    }
}

